<form action="/api/productos/guardar" method="post">
    <div class="container">
        <h1  class="text-center">Formulario de Productos</h1>
        
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" placeholder="">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Precio</label>
            <input type="text" class="form-control" name="precio" placeholder="">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Foto</label>
            <input type="text" class="form-control" name="foto" placeholder="Inserte solo el enlace de la imagen">
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>